
/.vs
/bin/Debug/net8.0-windows/VRCGalleryManager.dll
/bin/Debug/net8.0-windows/VRCGalleryManager.exe
/bin/Debug/net8.0-windows/VRCGalleryManager.pdb
/obj/Debug/net8.0-windows/apphost.exe
/obj/Debug/net8.0-windows/ref/VRCGalleryManager.dll
/obj/Debug/net8.0-windows/refint/VRCGalleryManager.dll
/obj/Debug/net8.0-windows/VRCGalleryManager.AssemblyInfo.cs
/obj/Debug/net8.0-windows/VRCGalleryManager.AssemblyInfoInputs.cache
/obj/Debug/net8.0-windows/VRCGalleryManager.assets.cache
/obj/Debug/net8.0-windows/VRCGalleryManager.csproj.AssemblyReference.cache
/obj/Debug/net8.0-windows/VRCGalleryManager.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0-windows/VRCGalleryManager.csproj.FileListAbsolute.txt
/obj/Debug/net8.0-windows/VRCGalleryManager.csproj.GenerateResource.cache
/obj/Debug/net8.0-windows/VRCGalleryManager.designer.runtimeconfig.json
/obj/Debug/net8.0-windows/VRCGalleryManager.dll
/obj/Debug/net8.0-windows/VRCGalleryManager.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0-windows/VRCGalleryManager.genruntimeconfig.cache
/obj/Debug/net8.0-windows/VRCGalleryManager.pdb
/obj/Debug/net8.0-windows/VRCGalleryManager.sourcelink.json
/obj/Release/net8.0-windows/VRCGalleryManager.AssemblyInfo.cs
/obj/Release/net8.0-windows/VRCGalleryManager.AssemblyInfoInputs.cache
/obj/Release/net8.0-windows/VRCGalleryManager.assets.cache
/obj/Release/net8.0-windows/VRCGalleryManager.csproj.AssemblyReference.cache
/obj/Release/net8.0-windows/VRCGalleryManager.GeneratedMSBuildEditorConfig.editorconfig
/obj/project.nuget.cache
/obj/VRCGalleryManager.csproj.nuget.dgspec.json
/obj/VRCGalleryManager.csproj.nuget.g.props
/obj/project.assets.json
